@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

* {
  margin: 1vw;
  font-family: "Nunito", sans-serif;
  color: #31334C;
}

html {
  margin: 0;
}

body {
  background-color: #e1e2e2;
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 33vw 66vw;
  grid-template-rows: 11vh 20vh 6vh 3vh 18vh 18vh 18vh 18vh;
  margin: 0;
  background-color: #e1e2e2;
}

.top-header {
  grid-area: 1 / 1 / span 1 / span 2;
  margin: 0 0 3.75px 0;
  padding: 0 3.75px 0 3.75px;
  background-color: #31334C;
}

.top-header > h2 {
  color: #E78E31;
  font-weight: 200;
  margin: 0;
}

.top-header > h3 {
  color: #E78E31;
  font-weight: 200;
  margin: 0;
}

.profile-pic {
  grid-area: 2 / 1 / span 1 / span 1;
  display: grid;
  align-content: center;
  justify-content: center;
}

.profile-pic > img {
  height: 18vh;
}

.summary-text {
  grid-area: 2 / 2 / span 1 / span 1;
  display: grid;
  align-content: center;
}

p {
  font-size: 0.8em;
}

a {
  color: #E78E31;
  text-decoration: none;
}

.projects-header {
  grid-area: 3 / 1 / span 1 / span 2;
  display: grid;
  align-content: center;
  margin: 1vh 0 0 0;
  border-bottom:  0.1em solid #31334C;
}

h3 {
  font-weight: 300;
}

nav {
  grid-area: 4 / 1 / span 1 / span 2;
  text-align: right;
  font-size: 0.8em;
}

.backend-section {
  grid-area: 5 / 1 / span 1 / span 2;
  display: flex;
  justify-content: center;
  align-content: center;
}

.projects-section-header {
  padding: 0.7vh 5vw 0vh 5vw;
  text-decoration: underline;
  text-decoration-thickness: 0.075em;
  text-decoration-color: #31334C;
}

.GitHub-image {
  height: 20%
}

.frontend-section {
  grid-area: 6 / 1 / span 1 / span 2;
  display: flex;
  justify-content: center;
}

.fullstack-section {
  grid-area: 7 / 1 / span 1 / span 2;
  display: flex;
  justify-content: center;
}

.journal-section {
  grid-area: 8 / 1 / span 1 / span 2;
  display: flex;
  justify-content: center;
}